*
{
   margin : 0 ;
   padding : 0 ;
   box-sizing: border-box ;
   text-align: center ;
   background-color: transparent ;
   border:none ;
   outline:none ;
   color:#ffffff;

   /* Font */
   font-family: 'Roboto', sans-serif;
   font-weight:200 ;
   
   /* Disabling selection */
   -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


html{
   scroll-behavior : smooth ;
   
}


body
{
   background-color: #333333 ;
   color:white ;
}

h1
{
   font-size: 2rem ;
   font-weight:400 ;
}


button
{
   font-size: 1.8rem;
   padding:10px 20px ;
   margin:5px 10px ;
   border : 2px solid white ;
   border-radius:5px ;

   color:black ;
   background-color: white ;
   transition: 1s;
}


button:hover
{
   background-color:transparent;
   color : white ;
   transition: 1s;
}


.comment
{
   width:99vw ;
   max-width: 400px ;
}

#navbar
{
   background-color: #333333;
   height:fit-content ;
   min-height: 3rem ;
   
   padding-right : 20px ;
   position:sticky ;

   display : flex ;
   flex-direction: row ;
   justify-content: space-between ;
   align-items: center ;
   top:0 ;

}

#navbar ul
{
   list-style: none ;
   display:flex ;
}

#navbar a
{
   font-size: 1.25rem ;
   text-decoration: none ;
   margin : auto 25px ;
   top : 0 ;
}

#navbar a:hover
{
   font-weight: bold;
}

#navbar span
{
   height: fit-content ;
}

#navbar img
{
   display : none ;
}


.navbar-scrolled
{
   background-color: black !important ;
   box-shadow : 0 0 10px black ;
}


.navbar-scrolled img
{
   max-width : 75vw ;
   max-height : 1.25rem ;
   margin : 5px 10px ;
   border-radius : 5px ;
   display : flex !important ;
}


#hamburger-icon
{
   display:none ;
   color:white ;
   height: 1.5rem ;
   margin:5px 10px ;
}


#container
{
   display: flex ;
   flex-direction: column ;
   justify-content: space-around ;
   align-items: center ;

   width:70vw ;
   max-width: 450px ;
   margin:auto ;
}


#spaceBetween
{
   margin:50px auto ;
}


#Picture img
{
   width:100%;
}