*
{
   margin : 0 ;
   padding : 0 ;
   box-sizing: border-box ;
   text-align: center ;
   background-color: transparent ;
   border:none ;
   outline:none ;
   
   /* Disabling selection */
   -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html{
   scroll-behavior: smooth ;
   
}

body
{
   background-color: #202020 ;
   font-family: -webkit-pictograph ;
   color:white ;
}

h1
{
   font-size: 2rem ;
   text-shadow: 0 0 10px rgb(105, 182, 255) ;
}

button
{
   font-size: 1.8rem;
   padding:10px 20px ;
   margin:5px 10px ;
   border : 2px solid white ;
   border-radius:5px ;

   color:black ;
   background-color: white ;
   text-shadow: 0 0 10px black ;
   box-shadow: 0 0 10px rgb(105, 182, 255);
   transition: 1s;
}

button:hover
{
   background-color:transparent;
   text-shadow: 0 0 10px  rgb(105, 182, 255);
   color : white ;
   transition: 1s;
}

#navbar
{
   background-color : rgb(51, 51, 51) ;
   height : fit-content ;
   text-align: right ;
   padding-right : 20px ;
   box-shadow : 0 0 10px black ;
   position:sticky ;
   top:0 ;
}

#navbar a
{
   font-family: cursive ;
   font-size: 1.25rem ;
   text-decoration: none ;
   color : white ;
   margin : 5px 10px ;
   top : 0 ;
}

#navbar a:hover
{
   font-weight: bold;
}

#navbar img
{
   height : 1.5rem ;
}

#container
{
   display: flex ;
   flex-direction: column; 
   justify-content: space-around ;
   align-items: center ;

   width:70vw ;
   max-width: 450px ;
   margin:auto
}